.azeret-mono-common{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px 0px 150px;
}   
.line-out{
  text-decoration: none;
  color: #0D1321;
  font-weight: 800;
  font-size: 28px;
}
.button-one{
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
  padding: 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}
.up{
  background-image: url('../assets/Hero-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0px;
}
.all{
  margin: 36px 0px 0px 0px;
}
.head{
  font-weight: 800;
  font-size: 48px;
  color: #0D1321;
}
.para{
  font-weight: 400;
  font-size: 16px;
  color: #0D1321;
}
.button-two{
  border-radius: 8px;
  background-color: #0D1321;
  color: #FFFFFF;
  padding: 21px 24px;
  font-weight: 600;
  font-size: 20px;
}
.second{
  margin: 74px 152px 0px 148px;
  background-color: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px;
}
.head-two{
  font-size: 32px;
  font-weight: 800;
  color: #0D1321;
}
.para-two{
  font-size: 16px;
  font-weight: 400;
  color: #0D1321; 
}
.third{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 97px 0px 97px;
  padding: 48px 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}
.head-third{
  font-weight: bold;
  font-size: 24px;
  color: #0D1321;
}
.para-three{
  font-weight: 400;
  font-size: 16px;
  color: #0D1321;
}
.button-three{
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
  box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px;
background-color: rgb(255, 255, 255);
}
.dot-out{
  list-style: none;
}
.fourth{
  margin: 32px 97px 0px 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}
.fifth{
  margin: 32px 97px 80px 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}
.button-five{
  font-size: 20px;
  font-weight: 500;
  color: #0D1321;
  box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px;
background-color: rgb(255, 255, 255);
}
.new-one{
  margin: 90px 152px 0px 148px;
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;  
}
.new-head-one{
  font-weight: 800;
  font-size: 32px;
  color: #0D1321;
}
.new-para-one{
  font-weight: 400;
  font-size: 16px;
  color: #0D1321; 
}
.sub-two{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin-top: 48px;
padding: 32px;
}
.vid{
  border-radius: 16px;
  margin: 10px 0px;
}
.tea{
  margin: 150px 150px 0px 150px;
}
.pic-block{
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
}
.mark-ten{
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  margin-right: 24px;
}
.head-ten{
  font-weight: 800;
  font-size: 24px;
  color: #0D1321;
}
.para-ten{
  font-weight: 400;
  font-size: 16px;
  color: #0D1321;
}
.link-ten{
  font-weight: 700;
  font-size: 16px;
  color: #0D1321;
}
.style-ten{
  border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
padding: 40px;
}
.code-ten{
  border-radius: 16px;
padding: 40px;
background: rgba(255, 223, 0, 0.05);
margin-left: 24px;
}
.current-target{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.current-target-head{
font-weight: 800;
font-size: 32px;
color: #0D1321;
}
.current-target-line{
font-weight: 400;
font-size: 16px;
color: #0D1321;
}
.next-target{
margin: 111px 0px 0px 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.next-target-head{
  font-weight: 800;
  font-size: 32px;
  color: #0D1321;
}
.next-target-line{
  font-weight: 400;
  font-size: 16px;
  color: #0D1321;
}
.react{
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
padding: 40px;
background: rgb(255, 255, 255);
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 48px 0px 0px 0px;
}
.node{
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 40px;
margin: 24px 0px 0px 0px;
}
.mongo{
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 40px;
margin: 24px 0px 0px 0px;
}
.feedback{
  margin: 41px 150px 0px 150px;
  border-radius: 16px;
  background-image: url('../assets/handshake.jpg');
  padding: 64px 48px;
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.feedback-head{
font-weight: 700;
font-size: 32px;
color: #FFFFFF;
}
.feedback-line{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.info{
  display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-top: 24px;
}
.info-text{
  box-sizing: border-box;
border-radius: 8px;
background: rgb(255, 255, 255);
margin: 0px 16px;
padding: 19px 215px 19px 20px;
width: 548px;
height: 57px;
border: none;
font-weight: 400;
font-size: 16px;
color: #0D1321;
}
.info-btn{
  border-radius: 8px;
padding: 17px 20px;
background: rgb(255, 255, 255);
border: none;
font-weight: 600;
font-size: 20px;
color: #0D1321;
}
.foot{
border-radius: 16px;
padding: 32px 150px;
background: rgba(13, 19, 33, 0.03);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 80px;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.face{
  margin-right: 24px;
}
.hub{
  margin-right: 24px;
}

